{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

    <div class="tab-pane fade" id="{{ fields.field_type.content }}" role="tabpanel" aria-labelledby="{{fields.field_type.content}}-tab">
        <div class="row">
            <div class="col-lg-3">
                <div class="info-table">
                    <ul>

                        <li>Total Flat Space <span>{{ fields.field_total_flat_space.content }}</span></li>
                        <li>Floor number <span>{{ fields.field_floor_number.content }}</span></li>
                        <li>Number of rooms <span>{{ fields.field_number_of_rooms.content }}</span></li>
                        <li>Parking Available <span>{{ fields.field_parking_available.content }}</span></li>
                        <li>Payment Process <span>{{ fields.field_payment_process.content }}</span></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{ fields.field_deal_image.content }}" alt="">
            </div>
            <div class="col-lg-3">
                <h4>Extra Info About Property</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore
                    et
                    dolore magna aliqua quised ipsum suspendisse.
                    <br><br>When you need free CSS templates, you can simply type TemplateMo in any search engine
                    website. In
                    addition, you can type TemplateMo Portfolio, TemplateMo One Page Layouts, etc.
                </p>
                <div class="icon-button">
                    <a href="property-details.html"><i class="fa fa-calendar"></i> Schedule a visit</a>
                </div>
            </div>
        </div>
    </div>





  